.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
  transition: all 0.4s;

}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */
#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #content {
    width: 100%;
    margin: 0;
  }

  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}
.page-content {
  min-height: 100vh;
}
.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}
.nav-item:hover {
  transition: ease-in-out 0.2s;
    background-color: rgba(0, 0, 0, 0.1) ;
}
.row img:hover {
  transform: scale(1.2);
}
.row img {
  transition: ease 0.5s;
}
.badge-notify{
  background:red;
  position:relative;
  border-radius: 50px !important;
  color: #fff;
  top: -10px;
  left: 10px;
}
.top-line {
  border-top: 2px solid #aaa;
}