.vertical-nav {
  min-width: 20rem;
  width: 20rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
  transition: all 0.4s;
}
.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}
.page-content {
  min-height: 100vh;
  width: calc(100% - 17rem);
}
.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}
.nav-item:hover {
  transition: ease-in-out 0.2s;
    background-color: rgba(0, 0, 0, 0.1) ;
}
.row img:hover {
  transform: scale(1.2);
}
.row img {
  transition: ease 0.5s;
}
.badge-notify{
  background:red;
  position:relative;
  border-radius: 50px !important;
  color: #fff;
  top: -10px;
  left: 10px;
}
.top-line {
  border-top: 2px solid #aaa;
}
.errors_box {
  width: auto;
  height: 50px;
  background-color: rgba(0,0,0,0.8) !important;
  position: absolute;
  bottom: 10vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-weight: bold;
  padding: 0px 20px;
}
.center {
  width: calc(100% - 17rem);
  bottom: 5vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.errors_box_default {
  width: auto;
  height: 50px;
  background-color: rgba(0,0,0,0.8) !important;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-weight: bold;
  padding: 0px 20px;
}
.content_container {
  background-color: #fff;
  min-height: 100vh;
  width: calc(100% - 5rem) !important;
}
.panel_container {
  min-width: 3rem;
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: calc(-50% + 3rem);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
  transition: all 0.4s;
  background-color: #f8f9fa;
  overflow-y: scroll;
}
.panel_outside_secion {
  width: 3rem;
  background-color: #f8f9fa;
  height: 100%;
  border-right: 2px solid #292b2c;
  text-align: center;
  font-size: 2rem;
  position: fixed;
  cursor: pointer;
}
.panel_content {
  padding: 2rem 2rem 2rem 5rem !important;
}
.rotated {
    transform: rotate(180deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    position: absolute;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    width: 100vh;
}
.card_footer {
  height: 50px;
}
.icon-admin-panel {
  font-size: 1.5rem;
}
/*--------ACTIVATED ELEMENTS-------------*/
#panel.active {
  right: 0;
}
#arrow.active {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
input[type=checkbox],
input[type=radio] {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}